

.dropdown-menu.form {
  width: 300px;
}

.social-icons {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
}

.social-icons .social-link {
  font-size: 18px;
}

.social-icons .social-link:hover {
  color: #F85C70;
}

.navbar {
  box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
  -webkit-box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
}

.navbar .navbar-nav:first-child .nav-item:first-child .nav-link {
  padding-left: 0;
}

.navbar .navbar-nav:last-child .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar .nav-link {
  font-weight: bold;
  font-family: "Dosis","Open Sans",sans-serif;
}

.navbar .nav-link.active {
  color: #0099ff !important;
}

.navbar .brand {
  text-align: center;
}

.navbar .brand .brand-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -weblit-transform: translate(-50%, -50%);
  border: 10px solid white;
  -webkit-transition: .5s !important;
  transition: .5s !important;
  -weblit-transition: .5s !important;
  z-index: 2;
  box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
  width: 170px;
  border-radius: 50%;
}

.navbar .brand .brand-txt {
  position: relative;
  bottom: -20px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -weblit-transition: 1s;
  z-index: 1;
}

.navbar .brand .brand-txt .brand-subtitle {
  font-size: 13px;
  color: #888;
}

@media (max-width: 991.98px) {
  .navbar .brand {
    display: none;
  }
}

.navbar.affix .brand-txt {
  bottom: 0;
  opacity: 1;
}

.navbar.affix .brand-img {
  top: -10px;
  opacity: 0;
}

.pagination .page-item {
  margin: 0 4px;
  border-radius: 0;
}

.pagination .page-item:first-child, .pagination .page-item:last-child {
  margin-top: 3px;
}

.pagination .page-item:first-child a, .pagination .page-item:last-child a {
  border: 0;
  width: auto;
  height: auto;
  font-size: 10px;
}

.pagination.pagination-sm .page-item:first-child, .pagination.pagination-sm .page-item:last-child {
  margin-top: 5px;
}

.pagination.pagination-sm .page-item:first-child a, .pagination.pagination-sm .page-item:last-child a {
  font-size: 9px;
}

.pagination.pagination-lg .page-item:first-child, .pagination.pagination-lg .page-item:last-child {
  margin-top: 9px;
}

.pagination.pagination-lg .page-item:first-child a, .pagination.pagination-lg .page-item:last-child a {
  font-size: 14px;
}


.header {
  position: relative;
  height: 80vh;
  min-height: 600px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/img-bg-header.png);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/img-bg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #0000ff;
}

.header .container {
  position: relative;
  height: 100%;
}

.header .header-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.header .header-content .header-subtitle {
  font-weight: 200;
  font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.header .header-content .header-title {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: .7;
  margin-bottom: 25px;
  color: #0000ff;
}

.header .header-content .header-mono {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .header {
    height: 500px;
    min-height: 500px;
  }
  .header .social-icons {
    margin: auto;
  }
  .header .header-content {
    padding: 20px;
  }
  .header .header-content .header-mono {
    letter-spacing: 2px;
  }
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: .8;
  color: #0000ff;
}

  

.section {
  padding: 80px 0;
}

.section.bg-custom-gray {
  background: rgba(242, 244, 247, 0.15);
}

.about-section {
  border-bottom: 1px solid #dee2e6;
}

.about-section .about-card {
  padding: 60px;
  border-right: 1px solid #dee2e6;
}

.about-section .about-card:last-child {
  border-right: none;
}

.contact {
  position: relative;
  min-height: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

@media (max-width: 991.98px) {
  .contact {
    padding: 300px 0 0;
  }
  .contact .contact-form-card {
    border-bottom: 1px solid #dee2e6;
  }
  .contact .contact-form-card,
  .contact .contact-info-card {
    min-height: auto !important;
  }
}

.contact .map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.contact .contact-form-card,
.contact .contact-info-card {
  padding: 35px;
  background: #fff;
  min-height: 500px;
}

.contact .contact-info-card {
  padding-right: 20px;
}

.contact .contact-title {
  margin-bottom: 30px;
}

.contact .contact-title::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #F85C70;
  display: block;
  margin-top: 10px;
}


.bg-testimonios {
  background-image: url('./img/fondo-referencias.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 50px; /* Espaciado interno para el contenido */
  border-radius: 15px; /* Bordes redondeados para mejor estética */
}

.bg-testimonios h4.text-primary {
  font-size: 1.5rem;
}

.bg-testimonios h4.display-4 {
  font-size: 2.5rem;
}

.bg-testimonios p {
  font-size: 1.1rem;
  line-height: 1.6;
}


audio {
  border: 2px solid #007bff; /* Borde azul */
  padding: 5px; /* Espaciado */
  background-color: #f8f9fa; /* Fondo claro */
}

.portfolio-btn {
  position: absolute;
  top: 10px; /* Ajusta la posición */
  right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.bg-blue {
  background-color: #0000ff; /* Cambia este valor por el azul que prefieras */
}
